@media screen and (min-width: 400px) {
    body {
        padding: 2rem;
    }

    .login-container {
        padding: 0;
        max-width: 800px;
        display: flex;
        align-items: center;
    }

    .login-image {
        width: 50%;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .login-form {
        width: 50%;
        padding: 2rem;
    }

    .login-form h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .input-group label {
        font-size: 1rem;
    }

    .input-group input {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .btn-login {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .forgot-password {
        font-size: 1rem;
    }
}
