@charset "utf-8";

@media screen and (min-width: 768px)
{
body{
    
    background-image: linear-gradient(to bottom, #8726fd, #bb83ff);
}
.container-login, main{
    
    
    display: flex;
    gap: 0px;
}
.imagem-login{
    
    
    height: auto;
    flex: 40%;
    
}

.formulario{
    
    flex-direction: column;
    height: auto;
    flex: 60%;
    
}
.input-email img{
    height: 7vh;
    
}

.input-email{
    
    height: 7vh;
}

.input-senha img{
    height: 7vh;
    
}

.input-senha{
    height: 7vh;
}

.botao input{
    height: 7vh;
}
}

@media screen and (min-width: 920px) 
{
.container-login, main{
    flex-direction: row-reverse;
}
}