@charset "utf-8";

@media screen and (min-width: 400px)
{
body{
    background-image: linear-gradient(to bottom, #8726fd, #bb83ff);
}
.container-login, main{
    border-radius: 10px 10px 10px 10px;
    max-width: 600px;
    display: flex;
    gap: 0px;
}
.imagem-login{
    
    border-radius: 10px 0px 0px 10px;
    height: auto;
    flex: 40%;
    
}

.formulario{
    
    flex-direction: column;
    height: auto;
    flex: 60%;
    
}
.input-email img{
    height: 7vh;
    
}

.input-email{
    
    height: 7vh;
}

.input-senha img{
    height: 7vh;
    
}

.input-senha{
    height: 7vh;
}

.botao input{
    height: 7vh;
}
}

@media screen and (min-width: 790px) {
.container-login, main{
    flex-direction: row-reverse;
}
}