@charset "utf-8";

:root{
    --cor01: rgb(158, 151, 173);
    --cor02: rgb(110, 105, 120);
    --cor03: rgb(33, 32, 37);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blueviolet;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 90%;
    box-shadow: 0px 0px 10px var(--cor03);
}

.container-login{
    display: block;
    height: auto;
    background-color: white;
    border-radius: 10px;

}

.imagem-login{
    display: block;
    background-image: url(../imagens/imagem-login.jpg);
    height: 30vh;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.formulario{
    padding: 20px;
    text-align: center;
}

h1{
    color: var(--cor03);
}

p{
    text-align: left;
    font-size: 0.9rem;
    margin-top: 10px;
    color: var(--cor03);
}

label{
    height: 5vh;
    justify-content: center;
}

label > img{
    height: 5vh;
    padding: 0px 10px 0px 5px;
}

input{
    border-radius: 4px;
    border: 1px solid var(--cor02);
    width: 100%;
    padding-left: 10px;
}
.input-email{
    margin-top: 20px;
    background-color: blueviolet;
    display: flex;
    border-radius: 5px;
}

.input-senha{
    margin-top: 10px;
    background-color: blueviolet;
    display: flex;
    border-radius: 5px;
}

.botao{
    display: flex;
    flex-direction: column;
}

.botao > input{
    padding: 0px;
    border-radius: 4px;
    border: 1px solid var(--cor02);
    width: 100%;
    height: 5vh;
    margin-top: 10px;
    color: white;
    background-color:rgba(8, 0, 255, 0.793);
    text-align: center;
}

.botao input:hover{
    background-color: rgba(33, 47, 248, 0.671);
}