@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5f3d88;
    align-items: center;
    justify-content: center;
}

picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

picture > img{
    width: 100vw;
    height: 35vh;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

main{
    width: 80vw;
    height: auto;
    padding: 0px 0px 5px 0px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px #301f468b;
}

p{
    padding: 10px;
    text-align: left;
    color: rgb(48, 48, 48);
}

h1{
    font-size: 2.4em;
    font-weight: bolder;
}



.input-group{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-group > input{
    height: 35px;
    border-radius: 10px;
    width: 65vw;
    height: 12vw;
    padding: 10px;

}
.input-group > label{
    border-radius: 5px 0px 0px 5px;
    display: flex;
    height: 35px;
    border: #5f3d88;
    background-color: #5f3d88;
    
}

div.input-group{
    background-color: #5f3d88;
    width: fit-content;
    margin: 10px auto;
    border-radius: 10px;
}

div.button{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    
}

.button > input{
    font-size: 1.1em;
    color: rgb(48, 48, 48);
    margin: 5px;
    padding: 5px 10px;
    width: 75vw;
    height: 12vw;
    border-radius: 10px;
    border: 1px solid rgb(154, 154, 154);
}

.button input:hover{
    background-color: rgb(119, 171, 234);
    color: white;
}